$background-color: #F6F6F6;
$text-color-gray: #AFB3C0;
$light-black: #666;
$light-black2: #999;

$border-color: #f5f5f5;

$serious-color: #FA6D04;
$danger-color: #FB0200;
$health-color: #31D0AB;
$blue: #1678FF;
$deep-blue: #2d40ff;
$light-blue: #0297ff;

// 间距
$spacing: 10px;

// 字体大小
$fontSize: 13px;
$fontSize10: 10px;

@import './vant.scss';

@mixin scrollHeight($h) {
  height: calc(100vh - #{$h});
  overflow: auto;
}
@mixin spaceBetween() {
  display: flex;
  justify-content: space-between;
}
@mixin flexCol() {
  display: flex;
  flex-direction: column;
}
.router-page{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: #fff;
}
.blue{
  color: $blue;
}
.van-icon-replay{
  font-size: 20px;
}